<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSSPWebToolsDB" connectionString="Data Source=wmon01dtchlebl2\sqlexpress;Initial Catalog=CSSPWebToolsDB;Integrated Security=True" />
    <add name="TestDB" connectionString="Data Source=wmon01dtchlebl2\sqlexpress;Initial Catalog=TestDB;Integrated Security=True" />
  </connectionStrings>
</configuration>